body {
  background-color: #151515;
  color: #DEDEDE;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-wrapper {
  padding: 10px;
}

#app-canvas {
  background-color: #202020;
}
