body {
  font-family: 'Roboto', sans-serif;
  background-color: #151515;
  color: #dedede;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: 'Roboto', sans-serif;
}

.buttons-wrapper {
  padding: 10px;
}

#app-canvas {
  background-color: #202020;
}
